/* @media only screen and (max-width: 910px){
    .card{
       width: 100%;
    }
    .cards{
        height: 100%;
     }
     .container-fluid{
        height:unset;
     }
     .contacto{
      top: 300%;
     }
     footer{
      top: 400%;
     }
    
} */
