    *{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* cabecalho */

header{
    width:100%;
    height: 100px;
    background-color: rgba(253, 253, 44, 0.808);
}

.logo{
    float: left;
    margin:15px 10px;
    font-size: 30px;
    padding: 20px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.logo a{
    color:rgb(143, 143, 143);
    text-decoration:none;
}

nav{
    width: 40%;
    height: 30px;
    margin: 10px auto;
    padding: 40px;
}

nav ul{
    list-style: none;
    color: white;
}

nav ul li{
    display:inline;
    font-size: 20px;
    padding: 20px;
}

nav ul li a{
    cursor:pointer;
    color: rgb(131, 130, 128);
    letter-spacing:1px;
    text-decoration:none;
}
nav ul li a:hover{
    text-decoration:underline;
}

.login{
    position: relative;
    display: inline;
    float: right;
    padding: 20px;
    top:-75px;
}
.login button{
    padding: 10px;
    margin: 5px;
    background-color: rgba(228, 228, 37, 0.808);
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:1px;
    cursor: pointer;
}

.login button:hover{
    background-color:rgba(241, 241, 77, 0.808);
}

.mais{
    position: relative; 
    width: 50px;
    height: 30px;
    padding: 10px;
    margin: 10px 0px 10px;
    float: right;
    top:-65px;
}

/* main */

.apresentacao{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slogan{
    position:absolute;
    top:5%;    
    margin: 10% 5%;
    font-size: 80px;
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textual{
    position:absolute;
    top:30%;
    padding:20px;
    margin:10px;
    z-index: 1;
}

.textual button{
    position: relative;
    display: block;
    top:110px;
    left: 0px;
    padding: 15px 25px;
    margin: 16px 25px;
    background-color: rgba(228, 228, 37, 0.808);
    border-radius: 10px;
    font-size: 17px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:1px;
    cursor: pointer;
}
.textual button:hover{
    background-color:rgba(241, 241, 77, 0.808);
}
.textual button a{
    color:#fff;
}
.apresentacao img{
    position: absolute;
    top: 110px;
    width: 100%;
    height: 84%;
}

/* parte da descricao da pagina */
#sobre{
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#sobre img{
    position: relative;
    width: 80%;
    margin: 10% 10%;
}
#img{
    position: relative;
    top:-100%;
    left: 60%;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
#img2{
    width:100%;
    height: 100%;
}
.texto{
    position:relative;
    top:-150%;
    left: 13%;
    width: 50%;
    height: 200px;
    color:#fff;
    font-size: larger;
    letter-spacing: 1px;
}

#ver{
    position: relative;
    display: block;
    padding: 15px 25px;
    margin: 16px 25px;
    background-color: rgb(228, 228, 37);
    border-radius: 10px;
    font-size: 17px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:1px;
    cursor: pointer;
}

#ver:hover{
    background-color:rgba(228, 228, 55, 0.808);
}


/* parte do footer */
footer{
    position: absolute;
    top:200%;
    width: 100%;
    height: 350px;
    background-color:rgb(65, 65, 65) ;
}

.logo-foot{
    float: none;
    text-align: center;
    margin: 0;
    padding: 20px 20px 0px;
}
.nav-foot{
 margin: 0 auto;
}
.li-foot a{
    color:#fff;
}

.direitos{
    position: relative;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color:rgb(253, 253, 44) ;
    text-align: center;
    padding: 15px;
    font-size: larger;
}

/* icons econtacto */
.icons{
    width: 100%;
    height: 80px;
}

.icons ul{
    list-style: none;
    margin: 30px 5px 0px 0px;
    width: 100%;
    text-align: center;
}

.icons li{
    display: inline-block;
    padding: 10px;
    color: #fff;
    letter-spacing: 1px;
}
.icons li img{
    margin: 5px;
}

.icons li a{
    color:#fff;
    text-decoration: none;
}

.icons li a:hover{
    text-decoration: underline;
}
